
.half{
  @include col();
  @include size-md(12);
  @include size-xs(5);
  @include size(6);
  background: red;
  height: 154px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.flex-container{
  @include row-flex;
  @include wrapper();
  background: yellow;
}

.lal {
  opacity: 0.5;
}