.relation__ration-16-9 {
  padding-top: 56.25%;
}

.relation__ration-1-2width {
  padding-top: 50%;
}

.relation__ration-1-2height {
  padding-top: 150%;
}

.relation__ration-full {
  padding-top: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.half {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  background: red;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .half {
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
  }
}

@media screen and (max-width: 500px) {
  .half {
    width: -webkit-calc(41.66667% - 15px);
    width: calc(41.66667% - 15px);
  }
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  background: yellow;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

.lal {
  opacity: 0.5;
}

@font-face {
  font-family: "Ubuntu-R";
  src: url("../fonts/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu-L";
  src: url("../fonts/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu-M";
  src: url("../fonts/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu-B";
  src: url("../fonts/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*# sourceMappingURL=../css/main.css.map */
